# Python
backend/venv/
__pycache__/
*.py[cod]

# Environment variables
.env
*.env

# Python testing
.pytest_cache/

# IDE
.vscode/
.idea/

# Flutter
mobile_app/.dart_tool/
mobile_app/build/

# Node.js
node_modules/
dist/

# OS
.DS_Store
Thumbs.db